@import-normalize;
@import 'buttons.css';
@import 'font.css';
@import 'recipe-list.css';
@import 'recipe.css';
@import 'ingredient-list.css';
@import 'recipe-edit.css';

*, *::before, *::after {
 box-sizing: border-box;
 font-family: Gotham Rounded, sans-serif 
}

html {
 font-size: 25px; 
}

body {
 margin: 0; 
}

.mr-1 {
 margin-right: 5px;
}