.btn {
 font-size: inherit;
 background: none;
 border:none;
 outline: none;
 font-weight: bold;
 border-radius: 5px;
 padding: 5px 20px;
 cursor: pointer;
}

.btn--primary {
 color: #fff;
 background: hsl(200, 100%, 50%);
}

.btn--primary:hover {
 background: hsl(200, 100%, 35%);
}

.btn--danger {
 color: #fff;
 background: hsl(0, 100%, 50%);
}

.btn--danger:hover {
 background: hsl(0, 100%, 35%);
}